@font-face {
    font-family: 'digi';
    src: url(digital-7\ \(mono\).ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg,rgb(119, 0, 0) ,rgb(6, 0, 7),rgb(119, 0, 0));
}
.Container{
    background: linear-gradient(90deg,rgb(119, 0, 0) ,rgb(6, 0, 7),rgb(119, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.heading{
    position: absolute;
    color: rgba(255, 255, 255, 0.571);
    top: 10%;
    font-family: sans-serif;
    letter-spacing: 15px;
}
.timer{
    position: absolute;
    height:300px;
    width: 300px;
    background-color:transparent;
    border-radius: 50%;
    animation: load 2s infinite;
   
}
@keyframes load{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;   
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;   
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;   
        
    }
}

p{
    font-family:'digi';
    font-size: 70px;
    color: white;
    position: absolute;
    z-index: 6;
}
.buttons{
    height: 420px;
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 0px 3px orangered;
    border-radius: 50%;
    position: relative;

}
.buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    border: none;
    background-color: #e65c00;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.buttons button:hover{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: orangered;
    color: #fff;
}

#play{
    position: absolute;
    right:-5px;
    top: 60px;
}
#pause{
    position: absolute;
    right:-33px;
    top: 135px;
}
#reset{
    position: absolute;
    right: -33px;
    bottom: 135px;
}
#lap{
    position: absolute;
    bottom:60px;
    right: -5px;
}
ul{
    position: absolute;
    color: white;
    left:-300px;
    top: 50px;
    list-style-type:decimal;
    font-family: "digi";
    font-size: 30px;
    letter-spacing: 5px;
    line-height:200%;
}
